.App {
  text-align: center;
}
/* *{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Encode Sans Expanded',
} */


@font-face {
  font-family: "YUniverse-B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

